<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />

    <style rel="stylesheet">
        .fixed-width {
            //flex: 0 0 50px;
            width: 100px;
            min-width: 100px;
        }
        .fixed-height {
            height: 4em;
            position: relative;
        }
        .min-height {
            min-height: 2em;
            position: relative;
        }
        .requested {
            border-width:3px !important;
            position: relative;
        }
        .booked {
            border-width:3px !important;
            position: absolute;
            height: 4em;
        }
.clickable {
    cursor: pointer;
}
.radio-div input[type="radio"] {
    display:none;
}
.radio-div label {
    display:inline-block;
    background-color:#ddd;
    padding: 10px 20px;
    font-family:Arial;
    font-size:16px;
    border: 2px solid #444;
    border-radius: 4px;
}
.radio-div input[type="radio"]:checked + label {
    background-color:#bfb;
    border-color: #4c4;
}
.radio-div label:hover {
  background-color: #dfd;
}
    </style>
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid">
        <div class="d-flex flex-row fixed-height">
            <div class="p-2 fixed-width border"></div>
            <div class="p-2 fixed-width border"></div>
            {% for h in range(7, 21) %}
            <div class="p-2 fixed-width border">{{h}}:00</div>
            {% endfor %}
        </div>
        {% for i in dates_and_resources %}
        {% for j in i.resources %}
        <div class="d-flex flex-row fixed-height clickable" id="row_booked_{{i.date}}_{{j.resource_id}}" data-toggle="modal" data-target="#exampleModal" data-whatever="2018-11-08">
            <div class="p-2 fixed-width border">{{i.date}}</div>
            <div class="p-2 fixed-width border">{{j.resource_name}}</div>
            {% for k in range(14) %}
            <div class="p-2 fixed-width border">qwerty, {{i.date}}, {{j.resource_name}}, {{k}}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="d-flex flex-column min-height align-items-start" id="row_requested_{{i.date}}">
        </div>
        {% endfor %}
    </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="datepicker" class="col-form-label">Date:</label>
            <div id="datepicker"></div>
            <input type="hidden" id="selected-date">
          </div>
          <div class="form-group">
            <label class="col-form-label">From:</label>
            <div class="radio-div">
                <input type="radio" id="hfr_7" name="hour-from-radio" value="7"><label for="hfr_7">7</label>
                <input type="radio" id="hfr_8" name="hour-from-radio" value="8"><label for="hfr_8">8</label>
                <input type="radio" id="hfr_9" name="hour-from-radio" value="9"><label for="hfr_9">9</label>
                <input type="radio" id="hfr_10" name="hour-from-radio" value="10"><label for="hfr_10">10</label>
                <input type="radio" id="hfr_11" name="hour-from-radio" value="11"><label for="hfr_11">11</label>
                <input type="radio" id="hfr_12" name="hour-from-radio" value="12"><label for="hfr_12">12</label>
                <input type="radio" id="hfr_13" name="hour-from-radio" value="13"><label for="hfr_13">13</label>
                <input type="radio" id="hfr_14" name="hour-from-radio" value="14"><label for="hfr_14">14</label>
                <input type="radio" id="hfr_15" name="hour-from-radio" value="15"><label for="hfr_15">15</label>
                <input type="radio" id="hfr_16" name="hour-from-radio" value="16"><label for="hfr_16">16</label>
                <input type="radio" id="hfr_17" name="hour-from-radio" value="17"><label for="hfr_17">17</label>
                <input type="radio" id="hfr_18" name="hour-from-radio" value="18"><label for="hfr_18">18</label>
                <input type="radio" id="hfr_19" name="hour-from-radio" value="19"><label for="hfr_19">19</label>
                <input type="radio" id="hfr_20" name="hour-from-radio" value="20"><label for="hfr_20">20</label>
            </div>
            <div class="radio-div">
                <input type="radio" id="mfr_0" name="min-from-radio" value="0"><label for="mfr_0">00 min</label>
                <input type="radio" id="mfr_30" name="min-from-radio" value="30"><label for="mfr_30">30 min</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label">To:</label>
            <div class="radio-div">
                <input type="radio" id="htr_7" name="hour-to-radio" value="7"><label for="htr_7">7</label>
                <input type="radio" id="htr_8" name="hour-to-radio" value="8"><label for="htr_8">8</label>
                <input type="radio" id="htr_9" name="hour-to-radio" value="9"><label for="htr_9">9</label>
                <input type="radio" id="htr_10" name="hour-to-radio" value="10"><label for="htr_10">10</label>
                <input type="radio" id="htr_11" name="hour-to-radio" value="11"><label for="htr_11">11</label>
                <input type="radio" id="htr_12" name="hour-to-radio" value="12"><label for="htr_12">12</label>
                <input type="radio" id="htr_13" name="hour-to-radio" value="13"><label for="htr_13">13</label>
                <input type="radio" id="htr_14" name="hour-to-radio" value="14"><label for="htr_14">14</label>
                <input type="radio" id="htr_15" name="hour-to-radio" value="15"><label for="htr_15">15</label>
                <input type="radio" id="htr_16" name="hour-to-radio" value="16"><label for="htr_16">16</label>
                <input type="radio" id="htr_17" name="hour-to-radio" value="17"><label for="htr_17">17</label>
                <input type="radio" id="htr_18" name="hour-to-radio" value="18"><label for="htr_18">18</label>
                <input type="radio" id="htr_19" name="hour-to-radio" value="19"><label for="htr_19">19</label>
                <input type="radio" id="htr_20" name="hour-to-radio" value="20"><label for="htr_20">20</label>
                <input type="radio" id="htr_21" name="hour-to-radio" value="21"><label for="htr_21">21</label>
            </div>
            <div class="radio-div">
                <input type="radio" id="mtr_0" name="min-to-radio" value="0"><label for="mtr_0">00 min</label>
                <input type="radio" id="mtr_30" name="min-to-radio" value="30"><label for="mtr_30">30 min</label>
            </div>
          </div>
          <div class="form-group">
            <label for="note" class="col-form-label">Note:</label>
            <input type="text" class="form-control" id="note">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

    <script>
/*        var child = '<div class="border rounded requested" style="left:0px; width:200px; border-color:blue;">qwerty 1</div>';
        document.querySelector('#row_x').innerHTML += child;
        var child = '<div class="border rounded requested" style="left:400px; width:200px; border-color:blue;">qwerty 2</div>';
        document.querySelector('#row_x').innerHTML += child;
        var child = '<div class="border rounded requested" style="left:250px; width:200px; border-color:blue;">qwerty 3</div>';
        document.querySelector('#row_x').innerHTML += child;*/
        var child = '<div class="border rounded requested" style="left:250px; width:200px; border-color:blue;">qwerty 3</div>';
        document.querySelector('#row_requested_2018-11-15').innerHTML += child;

/*
        var modal = $('#exampleModal').modal({
            show: false
        });
        function showModal(el) {
            var div = $(event.relatedTarget);
            var id = div.id;
            modal.find('.modal-body input').val(id);
            modal.modal('show');
        }
*/

$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  $('input:radio[name=hour-from-radio]').prop('checked', false);
  $('input:radio[name=min-from-radio]').prop('checked', false);
  $('input:radio[name=hour-to-radio]').prop('checked', false);
  $('input:radio[name=min-to-radio]').prop('checked', false);
  $('#note').val('');
  var modal = $(this)
  //modal.find('.modal-title').text('New message to ' + recipient)
  //modal.find('.modal-body input').val(recipient)
  $('#datepicker').datepicker({
    format: 'yyyy/mm/dd',
    todayHighlight: true,
    todayBtn: true
  });
  $('#datepicker').datepicker('update', recipient);
  $('#datepicker').on('changeDate', function() {
    var d = $('#datepicker').datepicker('getFormattedDate');
    console.log('selected date: ' + d);
    $('#selected-date').val(d);
  });
})

    </script>
  </body>
</html>
